main {
    margin-top: 131px;
    padding: 40px 20px;
}

h1 {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 15px;
    line-height: 2;
    font-size: 22px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}