<header class="navigation-wrap bg-light start-header start-style" id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <ul>
                        <li><a target="__blank" href="https://www.facebook.com/poslitesoftware/"><i class="fa fa-facebook"></i> Follow us on Facebook</a></li> 
                    </ul>
            </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <a href="tel:+639 56 088 7535">+639 56 088 7535</a>
                    <a href="mailto:sales@poslitesoftware.com">sales@poslitesoftware.com</a>				
                </div>
            </div>			  					
        </div>
    </div>
    <div class="container main-menu" >
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand"  routerLink="/"><img src="assets/images/logo.png" alt=""></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="mainnav" > 
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                        
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 menu-active">
                                <a class="nav-link" href="#home">Home</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#features">Features</a>
                            </li> 
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#reviews">Reviews</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#pricing">Pricing</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" [routerLink]="['/blog']" onclick="window.scrollTo(0, 0)">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-right" >
                        <a routerLink="/signup" onclick="window.scrollTo(0, 0)" class="btn btn-primary trial_btn">FREE 14 DAYS TRIAL</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
  </header> 


  <main style="margin-top: 130px; padding: 80px 0;">
    <div class="well">
        <div class="container">
            <h1 class="text-center">Thanks! <br> You're all set.</h1>
           
            <p class="text-center lead">A confirmation has been sent to your email. <br>Your order 10050025 will be sent to your email within 24 hours.</p>
            <div>
                <p class="text-center">Let's Keep In Touch </p>
            </div>
        </div>
    </div>
  </main>
  <style>
      main h1 {
          font-size: 48px;
          margin-bottom: 20px;
      }

      main p {
          line-height: 26px;
      }
  </style>

  <footer class="footer-area section-gap text-center">
    <p>&copy; Copryright 2019 - Product by <a target="__blank" href="https://algermakiputin.github.io/portfolio/">Alger Makiputin</a>. All Rights Reserved | <a href="#top">Back to Top</a></p>
  </footer>

