 
<header class="navigation-wrap bg-light start-header start-style" id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <ul>
                        <li><a target="__blank" href="https://www.facebook.com/poslitesoftware/"><i class="fa fa-facebook"></i> Follow us on Facebook</a></li> 
                    </ul>
            </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <a href="tel:+639 56 088 7535">+639 56 088 7535</a>
                    <a href="mailto:dev.algermakiputin@gmail.com">dev.algermakiputin@gmail.com</a>				
                </div>
            </div>			  					
        </div>
    </div>
    <div class="container main-menu">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="https://themeforest.net/user/ig_design/portfolio" target="_blank"><img src="assets/images/logo.png" alt=""></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="mainnav"> 
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                         
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 menu-active">
                                <a class="nav-link" href="#home">Home</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#features">Features</a>
                            </li> 
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#reviews">Reviews</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#pricing">Pricing</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-right" >
                        <a target="__blank" href="https://poslite.herokuapp.com" class="btn btn-primary" style="border-radius:3.5px;text-transform: uppercase;padding-left: 20px;padding-right: 20px;text-align: center;">UNLIMITED TRIAL ACCESS</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- <header id="header" class="bounce">
    <div class="header-top">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <ul>
                        <li><a target="__blank" href="https://www.facebook.com/poslitesoftware/"><i class="fa fa-facebook"></i> Follow us on Facebook</a></li> 
                    </ul>
            </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <a href="tel:+639 56 088 7535">+639 56 088 7535</a>
                    <a href="mailto:dev.algermakiputin@gmail.com">dev.algermakiputin@gmail.com</a>				
                </div>
            </div>			  					
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html" class="text-uppercase"><img src="assets/images/logo.png"></a>
            </div> 
            <nav id="nav-menu-container" class="navbar">
                <ul class="nav-menu">
                    <li class="menu-active nav-item"><a href="#home">Home</a></li>
                    <li class="nav-item"><a href="#features">Features</a></li> 
                    <li class="nav-item"><a href="#reviews">Reviews</a></li>
                    <li class="nav-item"><a href="#pricing">Pricing</a></li>	          
                    <li class="nav-item"><a href="#contact">Contact</a></li> 
                </ul>  
            </nav> 
            <div class="navbar-right">
              <a target="__blank" href="https://poslite.herokuapp.com" class="btn btn-primary" style="border-radius:3.5px;text-transform: uppercase;padding-left: 20px;padding-right: 20px;text-align: center;">UNLIMITED TRIAL ACCESS</a>
          </div>
        </div>
    </div>
</header>  -->

<section class="banner-area" id="home"> 
    <div class="container">
        <div class="row fullscreen d-flex align-items-center"> 
            <div class=" col-lg-11 " id="pc-wrapper">
                <header> 
                    <h1>Make Things Easier with the hottest Inventory Software In The Market</h1>  
                </header>
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner"> 
                        <div class="carousel-item ">
                            <img class="d-block w-100" src="./assets/images/header/products.jpg" alt="First slide">
                        </div> 
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="./assets/images/header/graph.jpg" alt="First slide">
                        </div> 
                        <div class="carousel-item">
                            <img class="d-block w-100" src="./assets/images/header/login.jpg" alt="First slide">
                        </div>
                    </div>
                </div>
                <img class="img-fluid carousel-frame" src="./assets/images/computer.png" alt="">

            </div>											
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <header>
            <h2 class="text-center section-header">FEATURES</h2> 
            <p class="lead text-center" style="margin-top: -20px;margin-bottom: 60px;border-bottom: solid 1px #333;padding-bottom: 20px;max-width: 880px;margin: -20px auto 60px auto;">POSLite has all the core functions to run your business efficiently</p>
        </header> 
        <div class="row"> 

            <article class="col-lg-4 feature">
                
                <div class="icon-wrapper">
                    <i class="fa fa-hand-o-up feature-icon"></i>
                </div>
                <header>
                    <h4>Ease of use</h4>
                </header> 
                <p> 
                     No need long hours investing learning POSLite that even ordinary staff can follow through
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-briefcase feature-icon"></i>
                </div>
                <header>
                    <h4>Inventory Management</h4>
                </header> 
                <p> 
                    Easily view complete inventory details like stock level, prices, and other product specification.
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-money feature-icon"></i>
                </div>
                <header>
                    <h4>Expenses Tracking</h4>
                </header> 
                <p> 
                    keep track of business expenses. Software helps identify spending issues and stick to your budget. 
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-shield feature-icon"></i>
                </div>
                <header>
                    <h4>Access Level</h4>
                </header> 
                <p> 
                    Two types of users: cashier and admin who has full access to all software features.
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-desktop feature-icon"></i>
                </div>
                <header>
                    <h4>POS Screen</h4>
                </header> 
                <p> 
                    Modern look and feel, process orders with ease and payment can be made with a form of cash.  
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-bus feature-icon"></i>
                </div>
                <header>
                    <h4>Supplier Management</h4>
                </header> 
                <p> 
                    Search, add, edit and manage with just few clicks and keep supplier order history.
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-bell feature-icon"></i>
                </div>
                <header>
                    <h4>Stocks Alert</h4>
                </header> 
                <p> 
                    Displays pop-up notification whenever products are low or running out of stocks.

                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-table feature-icon"></i>
                </div>
                <header>
                    <h4>Customer Management</h4>
                </header> 
                <p> 
                    Keeps track of your customer information like name, contact details and address.
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-print feature-icon"></i>
                </div>
                <header>
                    <h4>Thermal Printer Support</h4>
                </header> 
                <p> 
                    Support most thermal printer for printing customer order. Just plug and ready to use.
                </p>
            </article> 

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-line-chart feature-icon"></i>
                </div>
                <header>
                    <h4>Sales</h4>
                </header> 
                <p>Overview of how much money your business make in a given period of time. 
                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-flag feature-icon"></i>
                </div>
                <header>
                    <h4>Reporting</h4>
                </header> 
                <p> 
                    Every report are printable, and can be export to MS Excel such as inventory, sales, expenses, etc.

                </p>
            </article>

            <article class="col-lg-4 feature">
                <div class="icon-wrapper">
                    <i class="fa fa-barcode feature-icon"></i>
                </div>
                <header>
                    <h4>Barcode Scanner Support</h4>
                </header> 
                <p> 
                    Support most barcode scanner types. For easy product identification while processing orders. 
                </p>
            </article> 


        </div>
    </div>
</section>	

<section id="reviews" style="background-image: url('https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');background-position-y:-102px">
    <article style="background-color: rgba(0,0,0,0.85);padding: 100px 0;">
        <header class="container">
            <h2 class="text-center section-header">TESTIMONIALS</h2>
            <p class="lead text-center">What are clients has to say.</p>
        </header>
        <div class="carousel-reviews broun-block" >
            <div class="container">
                <div class="row">
                    <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#carousel-reviews" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-reviews" data-slide-to="1"></li> 
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row"> 
                                    <div class="col-md-4 col-sm-6">
                                        <div class="block-text rel zmin">
                                            <a title="" href="#">Magandang Gamitin sa Negosyo</a>
                                            <div class="mark">My rating: 
                                                <span class="rating-input">
                                                    <span data-value="0" class="fa fa-star"></span>
                                                    <span data-value="1" class="fa fa-star"></span>
                                                    <span data-value="2" class="fa fa-star"></span>
                                                    <span data-value="3" class="fa fa-star"></span>
                                                    <span data-value="4" class="fa fa-star"></span>
                                                </span>
                                            </div>
                                            <p>Magandang gamitin sa negosyo, madali intindihin (simple), Sila na ang nag install through AnyDesk, sulit at efective rekomendado ko ito,</p>
                                            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                        </div>
                                        <div class="person-text rel">
                                            <img alt="" src="assets/images/reviews/ian.jpg">
                                            <a title="" href="#">Ian Atienza</a>
                                            <i>from Lipa City, Batangas</i>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 hidden-xs">
                                        <div class="block-text rel zmin">
                                            <a title="" href="#">Convenient and pretty well done</a>
                                            <div class="mark">My rating: 
                                                <span class="rating-input">
                                                    <span data-value="0" class="fa fa-star"></span>
                                                    <span data-value="1" class="fa fa-star"></span>
                                                    <span data-value="2" class="fa fa-star"></span>
                                                    <span data-value="3" class="fa fa-star"></span>
                                                    <span data-value="4" class="fa fa-star"></span>
                                                </span>
                                            </div>
                                            <p>I requested for additional feature like a purchase order system, had to pay for additional functions but worth it to keep track of my orders.  </p>
                                            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                        </div>
                                        <div class="person-text rel">
                                            <img alt="" src="assets/images/reviews/james.jpg">
                                            <a title="" href="#">James Buenviaje</a>
                                            <i>Naga City, Philippines</i>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                        <div class="block-text rel zmin">
                                            <a title="" href="#">Has a Great aftersales support</a>
                                            <div class="mark">My rating: 
                                                <span class="rating-input">
                                                    <span data-value="0" class="fa fa-star"></span>
                                                    <span data-value="1" class="fa fa-star"></span>
                                                    <span data-value="2" class="fa fa-star"></span>
                                                    <span data-value="3" class="fa fa-star"></span>
                                                    <span data-value="4" class="fa fa-star"></span>
                                                </span>
                                            </div>
                                            <p>Very accomodating with a great aftersales service. the software is very easy to use and it helps me a lot to monitor my inventory and sales. </p>
                                            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                        </div>
                                        <div class="person-text rel">
                                            <img alt="" src="assets/images/reviews/edmund.jpg">
                                            <a title="" href="#">Edmund Lai</a>
                                            <i>Taguig City, Metro Manila</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 offset-md-2">
                                        <div class="block-text rel zmin">
                                            <a title="" href="#">User-friendly for our store</a>
                                            <div class="mark">My rating: 
                                                <span class="rating-input">
                                                    <span data-value="0" class="fa fa-star"></span>
                                                    <span data-value="1" class="fa fa-star"></span>
                                                    <span data-value="2" class="fa fa-star"></span>
                                                    <span data-value="3" class="fa fa-star"></span>
                                                    <span data-value="4" class="fa fa-star"></span>
                                                </span>
                                            </div>
                                            <p>Legit and user friendly for our grocery store. When I logged in to the system, I can easily find all the features I need, no need long hours for training my cashiers.</p>
                                            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                        </div>
                                        <div class="person-text rel">
                                            <img alt="" src="assets/images/reviews/charles.jpg">
                                            <a title="" href="#">Charles Dave Varela</a>
                                            <i>Navotas City, Metro Manila</i>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 hidden-xs">
                                        <div class="block-text rel zmin">
                                            <a title="" href="#">Great After Sales Support and Use-friendly</a>
                                            <div class="mark">My rating: 
                                                <span class="rating-input">
                                                    <span data-value="0" class="fa fa-star"></span>
                                                    <span data-value="1" class="fa fa-star"></span>
                                                    <span data-value="2" class="fa fa-star"></span>
                                                    <span data-value="3" class="fa fa-star"></span>
                                                    <span data-value="4" class="fa fa-star"></span>
                                                </span>
                                            </div>
                                            <p>They are very fast to act on my concern and the software is pretty straightforward, user friendly. and easy to use even the ordinary staff can follow through.</p>
                                            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                        </div>
                                        <div class="person-text rel">
                                            <img alt="" src="assets/images/reviews/arnel.jpg">
                                            <a title="" href="#">Arnel Supan</a>
                                            <i>San Fernando City, Pampanga</i>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        
    </article>
</section>

<section id="pricing">
    <header class="container">
        <h2 class="text-center section-header">Pricing Calculator</h2>
    </header>
    <form class="container">
        <div class="row"> 
            <div class="col-sm-10 mx-auto ">

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-7">
                            <label>Business Size</label>
                            <select class="form-control" name="businessSize" [(ngModel)]="calculator.businessSize">
                                <option value="0">Fewer than 10 employees</option>
                                <option value="1">10 to 49 employees</option>
                                <option value="2">50 to 249 employees</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span id="offline">POSLite offline can be use completely offline, meaning no need internet connection in order to manage your inventory efficiently. POSLite offline can be used and connect with multiple PC locally.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-7">
                            <label>Platform</label>
                            <select class="form-control" name="platform" [(ngModel)]="calculator.platform">
                                <option value="0">Offline</option>
                                <option value="1">Online</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <br/>
                            <span id="offline">POSLite offline can be use completely offline, meaning no need internet connection in order to manage your inventory efficiently. POSLite offline can be used and connect with multiple PC locally.</span>
                        </div>
                    </div>
                </div> 

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-7">
                            <label>Inventory Size</label>
                            <select class="form-control" name="inventorySize" [(ngModel)]="calculator.inventorySize">
                                <option value="0">Fewer than 200 Products / Services</option>
                                <option value="1">201 to 2000 Products / Services</option>
                                <option value="2">More than 2001 Products / Services</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <br/>
                            <span id="offline">Estimated number of products and services your business is selling.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-7">
                            <label>Support</label>
                            <select class="form-control" name="support" [(ngModel)]="calculator.support">
                                <option value="free">Free Aftersales Support</option> 
                            </select>
                        </div>
                        <div class="col-sm-5"> 
                            <br/>
                            <span id="offline">Our customer is always right, our team always strives to provide the best product we can offer. After purchasing POSLite you'll get lifetime after sales support.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    
                    <div class="row">
                        <div class="col-sm-7">
                            <button type="button" [disabled]="loading" class="btn btn-info" id="calculate-button" (click)="calculate()" style="border-radius: 1px;"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i> Calculate</button>
                        </div>
                        <div class="col-sm-5" *ngIf="calculator.calculated && !loading">
                            <span style="font-weight: normal;">Estimated Price: </span> <span style="font-size:32px;">₱{{ calculator.total | number }}</span>
                        </div>
                    </div>
  
                </div>
            </div> 
        </div>
    </form>
</section>

<section id="divider" class="well" style="margin-bottom: 80px; background: #333;background-image: url('https://images.pexels.com/photos/902288/pexels-photo-902288.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');background-position-y:75%; 
				">	
    <div style="padding: 100px 0;min-height: 400px;background-color: rgba(0,0,0,0.85);" id="count-section">
        <header class="container text-center">
            <h2 class="section-header">MORE THAN 100 STORE USE POSLITE</h2>
            <p class="lead">Number of happy POSLite users in different part of Philippines</p>
        </header>
        <div class="container">
            <div id="counter">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <span class="count" id="luzon">0</span><br/>
                            <span class="place">Luzon</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <span class="count" id="visayas">0</span><br/>
                            <span class="place">Visayas</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <span class="count" id="mindanao">0</span><br/>
                            <span class="place">Mindanao</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" *ngIf="!enquirySent; else enquiry_success" style="transform: all 0.5s ease ;">
    <header class="container text-center">
        <h2 class="section-header">CONTACT US</h2>
        <p class="lead">For question about POSLite, we're ready to assist.</p>
    </header>
    <div class="container"> 
        <form name="contactForm"  class="row input-container" #contactForm="ngForm"  (ngSubmit)="contactForm.form.valid && onSubmit(contactForm)" novalidate> 
            <div class="col-md-12">
                <div class="styled-input wide">
                    <input type="text" id="name" 
                        [class.is-invalid]="name.invalid && name.touched"  
                        name="name" #name="ngModel" 
                        [(ngModel)]="enquiriesModel.name"  
                        required
                         
                    />
                    <label>Name</label>  
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="styled-input">
                    <input type="email" email [class.is-invalid]="email.invalid && email.touched" required name="email" #email="ngModel" [(ngModel)]="enquiriesModel.email"/>
                    <label>Email</label> 
                    <small class="text-danger" [class.d-none]="email.valid || email.untouched">Invalid email</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="styled-input" style="float:right;">
                    <input type="text" 
                    [class.is-invalid]="number.invalid && number.touched" 
                    required name="number" #number="ngModel" 
                    [(ngModel)]="enquiriesModel.number"  
                    />
                    <label>Contact Number</label> 
                    <small class="text-danger" [class.d-none]="number.valid || number.untouched">Phone number is required</small>
                </div>
            </div>
            <div class="col-md-12">
                <div class="styled-input wide">
                    <textarea required [class.is-invalid]="message.invalid && message.touched" name="message" #message="ngModel" [(ngModel)]="enquiriesModel.message"></textarea>
                    <label>Message</label>
                    <small class="text-danger" [class.d-none]="message.valid || message.untouched">Message is required</small>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" [disabled]="!contactForm.form.valid"  [disabled]="sending" class="btn-lrg submit-btn" value="Send Message" style="max-width: 200px;">  
            </div>
        </form> 
    </div>

</section>

<ng-template #enquiry_success >
    <article class="text-center" style="margin: 120px 0;transform: all 0.5s ease ;">
        
        <h3 class="text-success"><i class="fa fa-check-circle"></i> Message Sent Successfully</h3>
        <br/>
        <p >We'll get back to you soon!</p>
    </article>
    
</ng-template>


<footer class="footer-area section-gap text-center">
    <p>&copy; Copryright 2019 - Product by <a target="__blank" href="https://algermakiputin.github.io/porfolio">Alger Makiputin</a>. All Rights Reserved</p>
</footer>

